<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="upload-files">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `upload-files`
     * carga de archivo o archivos
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class UploadFiles extends Polymer.Element {
      static get is() { return 'upload-files'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'upload-files'
          }
        };
      }
    }

    window.customElements.define(UploadFiles.is, UploadFiles);
  </script>
</dom-module>
