<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="upload-files">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <input type="file" 
      id="idFile" 
      on-change="_changeHandler"
      multiple$="[[multiple]]" 
      accept="{{accept}}">

  </template>

  <script>
    /**
     * `upload-files`
     * carga de archivo o archivos
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class UploadFiles extends Polymer.Element {
      static get is() { return 'upload-files'; }
      static get properties() {
        return {
          /**
            * Filtra el tipo de archivo a cargar por default tiene (png,jpeg,jpg)
          */
          filters: {
            type: String,
            value: 'image/*'
          },
          /**
            * Indicar el tamaño máximo de los archivos a cargar
          */
          maxSizeFiles: {
            type: Number,
            value: 4096
          },
          /**
           * Tamaño total de los archivos.
           */
          totalSizeFiles: {
            type: Number
          },
          /**
           * Carga de archivos simple o multiple.
           */
          multiple: {
            type: Boolean,
            value: false
          }
        };
      }

      _changeHandler(e) {
        console.log(e);
        /**
          * Fired after submitting the form
          * @event request-access
          * @param {Object} detail {userId, password, username}
        */
        this.dispatchEvent(new CustomEvent('request-access', {
          composed: true,
          bubbles: true,
          detail: e.detail
        }));
      }
      

    }

    window.customElements.define(UploadFiles.is, UploadFiles);
  </script>
</dom-module>